* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
}

.header-section {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

#logo {
    height: 50px;
    margin-left: 10px;
    width: auto;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
    text-decoration: underline;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
  }
  
  .nav-bar a {
    color: seashell;
  }
  
  .nav-bar a:link,
  .nav-bar a:visited {
    color: seashell;
  }
  
  .nav-bar a:hover {
    color: gray;
  }
  
  .nav-bar a:active {
    color: red;
    text-decoration: none;
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero-mission {
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 20px;
    gap: 10px;
    width: 100%;
}

#featured-tea {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin-top: 60px;
    justify-content: center;
}

.featured-teas {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.tea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.tea img {
    width: 300px;
    height: 200px;
}


#store-locations-container {
    background-size: cover;
    width: 1200px;
    max-width: 93%;
    min-height: 500px;
    margin: 50px auto auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    background-position: 0 50px;
    background-repeat: no-repeat;
    padding-top: 90px;
    box-sizing: border-box;
    text-align: center;
  }


.location-container {
    padding-bottom: 100px;
    top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.location {
    height: 300px;
    width: 300px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    opacity: 0.9;
    min-width: 250px;
    max-width: 300px;
    padding: 20px;
  }

.copyright {
    padding-top: 40px;
    text-align: left;
    margin: 20px;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex; /* Show on mobile */
        align-items: center; /* Center alignment if there are any other elements within */
    }
  
  
    ul {
        flex-direction: column;
        width: 100%; /* Take full width to accommodate longer text */
    }
  
    li {
        width: 100%; /* Full width to prevent overflow */
        text-align: center; /* Center align the text */
        margin-right: 0; /* Remove right margin */
        padding: 10px 0; /* Add padding for touch accessibility */
    }
  
    .nav-bar a {
        padding: 10px; /* Larger area to improve touch interaction */
    }
  }
  
  /* Hamburger Menu Styling */
  .hamburger-menu {
    display: none; /* Only display this in mobile view */
    cursor: pointer;
    font-size: 30px;
    padding-right: 10px;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Show hamburger icon */
        margin-left: auto;
    }
  
    .nav-bar ul {
        display: none; /* Hide menu initially */
        width: 100%; /* Full width */
        flex-direction: column;
        position: absolute;
        background-color: black; /* Match nav-bar background */
        top: 69px; /* Position below the nav-bar */
        left: 0;
        z-index: 1001;
    }
  
    #logo {
      margin-right: auto;
       /* Ensures the logo stays on the left */
  }
  
    .nav-bar.active ul {
        display: flex; /* Show menu when active */
    }
  }